// Import variables
@import "../variables";

.privacyPage {
  max-width: 1000px;
  margin: 0 auto;
  padding: $spacing-unit * 8; // Padding: 2rem

  h1 {
    font-size: 2.5rem;
    color: $primary-blue; // Primary blue for the heading
    margin-bottom: $spacing-unit * 4; // Margin-bottom: 1rem
  }

  > p {
    font-size: $font-size-base; // Base font size (1rem)
    color: $gray-600; // Medium gray for paragraph text
    margin-bottom: $spacing-unit * 8; // Margin-bottom: 2rem
  }

  section {
    margin-bottom: $spacing-unit * 8; // Margin-bottom: 2rem

    h2 {
      font-size: 1.8rem;
      color: $gray-700; // Dark gray for section headings
      margin-bottom: $spacing-unit * 4; // Margin-bottom: 1rem
    }

    p {
      font-size: 1.1rem;
      color: $gray-600; // Medium gray for paragraph text
      line-height: 1.6;
    }
  }
}
