// Import variables
@import "../variables";

.settingsContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: $spacing-unit * 8; // Padding: 2rem
}

.settingItem {
  margin-bottom: $spacing-unit * 6; // Margin-bottom: 1.5rem

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="checkbox"] {
    margin-right: $spacing-unit * 2; // Margin-right: 0.5rem
  }

  select {
    margin-left: $spacing-unit * 2; // Margin-left: 0.5rem
    padding: $spacing-unit; // Padding: 0.25rem
    border-radius: $border-radius; // Consistent border-radius
    border: 1px solid $gray-400; // Gray border
  }
}

.saveButton {
  background-color: $primary-blue; // Primary blue for the save button
  color: $background-light; // White text
  border: none;
  padding: $spacing-unit * 2 $spacing-unit * 4; // Padding: 0.5rem 1rem
  border-radius: $border-radius; // Consistent border-radius
  cursor: pointer;
  transition: background-color $transition-base; // Smooth transition for hover

  &:hover {
    background-color: $secondary-blue; // Darker blue on hover
  }
}
